[submodule "public"]
	path = public
	url = git@github.com:zeeraw/zeeraw.github.io.git
	branch = master

[submodule "themes/pickles"]
	path = themes/pickles
	url = https://github.com/mismith0227/hugo_theme_pickles
	branch = release
